<div> 
    <div class="d-flex justifiy-conten-betwen">
    <h4>Form CLiente</h4>
    <a href="#" routerLink = "/poliza/index" class="btn btn-primary">Volver</a>
    </div>   
    
    <hr/>
    <form [formGroup]= "form" (ngSubmit)="submit()">
        <div class ="form-group row">
            <div class="col-md-6 ">
                <label for="Title">Producto:</label>
            <input formControlName="producto" id="producto" class="form-control">
 
            </div>

        <div class ="form-group row">
            <div class="col-md-6 ">
                <label for="Title">Número:</label>
                <input formControlName="numero" id="numero" class="form-control">

        </div>

        <div class ="form-group row">
            <div class="col-md-6 ">
                <label for="Title">Fecha Inicio:</label>
                <input formControlName="fecha_inicio" id="fecha_inicio" class="form-control">

        </div>

        <div class ="form-group row">
            <div class="col-md-6 ">
                <label for="Title">Fecha Fin:</label>
                <input formControlName="fecha_fin" id="fecha_fin" class="form-control">
           
        </div>

        <div class ="form-group row">
            <div class="col-md-6 ">
                <label for="Title">Estado:</label>
                <input formControlName="estado" id="estado" class="form-control">
           
        </div>
        <button class="btn btn-primary" type="submit"[disabled]="!form.valid">Guardar</button>

    </form>
</div>

